img#head(src='/img/header.png')

p welcome, enter the temple and ask the wise men whatever your heart urges to know.

a.menu(href='/game') Enter the Temple
a.menu(href='/feedback') Give Feedback
a.menu(href='/credits') Credits

p like this on fb, html5, nodester,