
a(href='/')#head
#container  
  p welcome, enter the temple and ask the wise men whatever your heart urges to know.
  p
    a.menu(href='/game') Enter the Temple
  p
    a.menu(href='/feedback') Give Feedback
  p
    a.menu(href='/credits') Credits
  
  p like this on fb
  p html5
  a(href='http://nodester.com') nodester